.app-container {
  min-height: 100vh;
  width: 100%;
}
.fullscreen-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 1.2rem;
  color: #a1a1aa;
}